{% extends "layout.html" %}
{% block content %}
<div class="forum">
    <h1>Task One: Forum Page</h1>
    <!-- User info area-->
    <div class="forumUserArea">
        <a href="{{url_for('login')}}">{{username}}</a>
        <img src="">
    </div>
    <!-- Message posting area-->
    <div class="forumMessagePostingArea">
        <form action="" method="POST">
            <lable>Forum Post</lable>
            <br><br>
            <label>Subject</label>
            <Input type="text" id="subject" required autofocus>
            <br><br>
            <label>Message</label>
            <input type="text" id="message" required>
            <br><br>
            <label>Image Upload</label>
            <input type="file" id="image">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <!--Forum message display area-->
    <div class="forumMessageDisplayArea>">
        <p>The messages will be displayed here</p>
    </div>
</div>
<!-- Below clears the id from the session variable -->
<!-- onclick="{{session.pop('ID',None)}}" -->
<a id="logout-link" href="{{url_for('login')}}">Logout</a>
{% endblock %}