{% extends "layout.html" %}
{% block content %}
    <div class="register">
        <h1>Task One: Register Page</h1>
        <form action method="POST">
            <label>Register</label>
            <br>
            <br>
            <label>ID</label>
            <input type="text" id="ID" autofocus>
            <br>
            <br>
            <label>Username</label>
            <input type="text" id="username">
            <br>
            <br>
            <label>password</label>
            <input type="text" id="password">
            <br>
            <br>
            <label>User image</label>
            <input type="file" id="userImage">
            <br>
            <br>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}