{% extends "layout.html" %}
{% block content %}
    <div class="user">
        <h1>Task One: User page</h1>
        <form action method="POST">
            <label>Change password</label>
            <br>
            <br>
            <label>Old Password</label>
            <input type="password" id="oldPassword" autofocus>
            <br>
            <br>
            <label>New Password</label>
            <input type="text" id="username">
            <br>
            <br>
            <input type="submit" value="Change password">
        </form>
    </div>
{% endblock %}